<tr>
  <td>{{ container.id | shorthash }}</td>
  <td>
    {% if container.image | dockerimg != "(hash only)" %}
    <a href="https://{{ container.image }}.app.localhost" target="_blank">{{ container.image }}</a>
    {% else %}
    {{ container.image | dockerimg }}
    {% endif %}
  </td>
  <td>{{ container.state }}</td>
  <td>{{ container.status }}</td>
  <td>{{ container.size }}</td>
  <td>
    {% if container.state == "Exited" %}
      <button class="remove" data-id="{{ container.id }}">remove</button>
    {% else %}
      <button class="stop" data-name="{{ container.image }}">stop</button>
    {% endif %}
  </td>
</tr>
