<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test Editor</title>
    <link rel="icon" type="image/png" href="/favicon.png" />
  </head>
  <body>
    <h1>Admin interface</h1>

    {% if userName %} Currently logged in as admin {{ userName }}, click here to
    <a href="/auth/github/logout">logout</a> or click here to go back to
    <a href="/">the main page</a>.

    <section>
      <h2>Users</h2>

      <p>Should have activate/deactivate, (un)suspend, delete</p>

      <ul>
        {% for user in admin.userList %} {% include
        "./fragments/admin/user.html" %} {% endfor %}
      </ul>
    </section>

    <section>
      <h2>Projects</h2>

      <p>Should have activate/deactivate, (un)suspend, delete</p>

      <ul>
        {% for project in admin.projectList %} {% include
        "./fragments/admin/project.html" %} {% endfor %}
      </ul>
    </section>

    <section>
      <h2>Containers</h2>

      <p>Should have stop/remove</p>

      <ul>
        {% for container in admin.containerList %} {% include
        "./fragments/admin/container.html" %} {% endfor %}
      </ul>
    </section>

    {% else %} You'll probably want to <a href="/auth/github">login</a>
    {% endif %}
  </body>
</html>
