<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test Editor</title>
    <script src="/drag-drop-touch.esm.min.js?autoload" type="module"></script>
    <script src="/editor.bundle.js" type="module" async></script>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="/layout.css" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/file-tree.css" />
    <link rel="stylesheet" href="/cm6.css" />
  </head>
  <body data-project-id="{{ projectId }}" data-project-name="{{ projectName }}">
    <main>
      <span id="buttons">
        <a class="link-back" href="https://editor.com.localhost">home</a>
        {% if passport.user %} {{ passport.user.displayName }} {% if
        projectOwner %} {{ projectOwner }} {% endif %} {% endif %}
        <span class="projectname">{{ projectName }}</span>
        <button class="project-settings">settings</button>
        <button id="all" title="Open all files">!!!</button>
        <button id="format" title="Make my code pretty!">🤩</button>
      </span>

      <file-tree id="filetree"></file-tree>

      <div id="tabnav">
        <div id="left">
          <button>〈</button>
        </div>
        <div id="tabs"></div>
        <div id="right">
          <button>〉</button>
        </div>
      </div>
      <div id="editors"></div>

      <div id="preview" style="position: relative">
        <span id="preview-buttons">
          <button class="restart" title="Restart your host container">
            restart
          </button>
          <button class="newtab" title="Open preview in new tab">
            new tab
          </button>
        </span>
        <iframe
          sandbox
          src="https://editor.com.localhost/default/index.html"
          data-src="https://{{ projectName }}.app.localhost"
          data-project-name="{{ projectName }}"
        ></iframe>
      </div>

      <div id="status">
        Welcome to the editor test interface! This editor uses CodeMirror 6 for
        its editor panels, and &lt;file-tree&gt; for its file browser.
      </div>
    </main>

    {% include "fragments/edit.html" %}
  </body>
</html>
