<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test Editor</title>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="./layout.css" />
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="./main.css" />
    <script src="main.js" async defer></script>
  </head>
  <body>
    <h1>Welcome</h1>

    {% if passport.user %} Currently logged in as {{ user.name }}, click here
    to <a href="/auth/github/logout">log out</a>{% if user.admin %} or click here
    for the <a href="/v1/admin">admin interface</a>{% endif %}. {% else %} You'll
    probably want to <a href="/auth/github">log in</a>. And instead of a cookie
    banner, you get an opt-in agreement: obviously logins require storing
    login information in a database, and use cookies for session management,
    so by logging in you're equally obviously okay with that.
    {% endif %} {% if projectList %}

    <h2>Start a new project</h2>

    <div id="create-project-form">
      Remix:
      <select name="starter">
        {% for s in starters %}
        <option
          name="{{s}}"
          value="{{s}}"
          {% if s==="empty" %}selected{% endif %}>{{s}}</option>
        {% endfor %}
      </select>
      as new project called:
      <input disabled name="name" type="text" placeholder="project name" />
      <button disabled>create new project</button>
    </div>

    <h2>Your projects:</h2>
    <ul>
      {% for project in projectList %}
      {% include "fragments/project-card.html" %}
      {% endfor %}
    </ul>
    {% endif %}

    {% include "fragments/edit.html" %}
  </body>
</html>
