<li>
  <h3>
    <a href="https://{{ WEB_EDITOR_HOSTNAME }}/v1/projects/edit/{{ project.name }}"
      >{{ project.name }}</a
    >
  </h3>
  {% if project.description %}
  <p>{{ project.description | para | safe}}</p>
  {% endif %}
  <p class="date">Created {{ project.created_at | year }}</p>
  <button data-project-id="{{ project.id }}" class="edit-project">edit</button>
  <button data-project-name="{{ project.name }}" class="delete-project">
    delete
  </button>
  <iframe
    width="1000"
    height="600"
    src="https://{{ project.name }}.{{ WEB_EDITOR_APPS_HOSTNAME }}"
  ></iframe>
  <a href="https://{{ project.name }}.{{ WEB_EDITOR_APPS_HOSTNAME }}" target="_blank"
    >Open in new tab</a
  >
</li>

<!--
  TODO: export to github button?
-->
  